%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @followings.each do |following|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest("following.followee.email".downcase)}?s=40")
            = link_to following.followee.full_name, following.followee
          %td.extra-padding
            = following.followee.queue_items.count
          %td.extra-padding
            = following.followee.followee_relationships.count
          %td.extra-padding
            = link_to following, method: :delete, id: "remove_following_#{following.id}" do
              %i.icon-remove
