<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

%section.register.container
  .row
    .span10.offset1
      %form.form-horizontal
      = errors_form_for @user, class: "form-horizontal", html: { id: "payment-form" } do |f|
        %header
          %h1 Register
        %fieldset
          .control-group
            = f.label :email, "Email"
            = f.email_field :email, label: "Email", class: 'span3'
            = f.label :password, "Password"
            = f.password_field :password, class: 'span3'
            = f.label :full_name, "Full Name"
            = f.text_field :full_name, class: 'span3'
            = hidden_field_tag :invite_token, @invite_token
        %fieldset.credit_card
          %span.payment-errors
          .control-group
            %label.control-label(for="credit-card-number") Credit Card Number
            .controls
              %input.span3#credit-card-number(type="text" data-stripe="number")
          .control-group
            %label.control-label(for="security-code") Security Code
            .controls
              %input.span3#security-code(type="text" data-stripe="cvc")
          .control-group
            %label.control-label Expiration
            .controls
              = select_month(Date.today, {add_month_numbers: true},  class: 'span2', data: {stripe: "exp-month"})
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'span1', data: {stripe: "exp-year"})
        %fieldset.actions.control-group
          .controls
            %input(type="submit" value="Sign Up" class="btn")
